body {
    font-family: Arial, sans-serif;
    background-color: yellowgreen;
    text-align: center;
}

.container {
    margin: 50px auto;
    padding: 20px;
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 80%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #ffcb05;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #000;
    color: #ffcb05;
}

.pokemon-info {
    margin-top: 20px;
}

.pokemon-info img {
    width: 150px;
}

.pokemon-stats {
    margin-top: 10px;
}

.pokemon-stats li {
    list-style-type: none;
    margin-bottom: 5px;
}
